<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>Report per Pubblicazione</h4>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
            <h5 class="lead">Pubblica nello Stream:</h5>            
            <h5 class="lead"> @ViewBag.desStream</h5>   
        </div>
        <div class="form-group">
            <h5 class="lead">Puoi cambiare il nome al report:</h5>
        </div>
    </div>
</div>
