<nav id="subnav" class="navbar navbar-default navbar-sub" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li id="home">
                    <a href="@Url.Action("Index", "Home")">
                        <span class="subnav-icon">
                            <i class="fa fa-home"></i>
                        </span>
                        <span class="hidden-xs">Home</span>
                    </a>
                </li>
                <li id="guidelines">
                    <a href="@Url.Action("Index", "LineeGuida")">
                        <span class="subnav-icon">
                            <i class="fa fa-newspaper-o"></i>
                        </span>
                        <span class="hidden-xs">Linee Guida</span>
                    </a>
                </li>
                <li id="docs">
                    <a href="@Url.Action("Index", "Home")">
                        <span class="subnav-icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span class="hidden-xs">Manuale Utente</span>
                    </a>
                </li>
                <li id="docs">
                    <a href="@Url.Action("Index", "Home")">
                        <span class="subnav-icon">
                            <i class="fa fa-support"></i>
                        </span>
                        <span class="hidden-xs">Supporto</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
