<nav id="subnav" class="navbar navbar-default navbar-sub" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Farm - name</a>
        </div>
        <div id="submain-menu">
            <ul class="nav navbar-nav">
                <li class="divider-vertical"></li>
                <li id="home">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                </li>
                <li id="guidelines">
                    <a href="@Url.Action("Index", "LineeGuida")"><i class="fa fa-newspaper-o"></i> Linee Guida</a>
                </li>
                <li id="docs">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-book"></i> Documenti</a>
                </li>
                <li id="docs">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-support"></i> Supporto</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
