<div class="caption">Header</div>
<table border="1">
    @for (int i = 0; i < ViewBag.HeadersKeysCount; i++)
    {
        <tr>
            <td>
                @ViewBag.HeadersKeys[i]
            </td>
            <td align="right">
                @ViewBag.Headers[i]
            </td>
        </tr>
    }
</table>
