
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Linee Guida</h2> 
            <h3 class="lead">Apri il documento di interesse</h3>
            <p></p>
            <div class="row lead">
                <div class="col-md-11 col-md-offset-1">
                    <p>
                        <a href="#" target="_blank">
                            <u>Linee guida di sviluppo per l’ambiente dei Report Distribuiti</u>
                            <br />
                            &emsp;<em>http://serverqlik.sanpaoloimi.com/docs/lineedistribuiti.pdf</em>
                        </a>
                        <br />
                        Documento per lo sviluppo dei report creati centralmente. Le linee guida devono essere seguite in maniera puntuale in tutte le loro parti.
                    </p>
                    <br/>
                    <p>
                        <a href="#" target="_blank">
                            <u>Linee guida di sviluppo per i report sviluppati in ambiente di Self-service BI</u>
                            <br />
                            &emsp;<em>http://serverqlik.sanpaoloimi.com/docs/lineeselfbi.pdf</em>
                        </a>
                        <br />
                        Documento per lo sviluppo dei report creati in ambiente di Self-service BI. Le linee guida forniscono informazioni utili per la corretta progettazione dei report Qlik.
                    </p>
                </div>
            </div>
        </div>
    </div>



